.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    width: 100%;
    transition: 0.5s;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;


        li {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.header__logo {
    img {
        max-width: 100%;
    }
}

.header__rightsect {
    display: flex;
    flex-wrap: wrap;

    .header__btns {
        width: 100%;
        max-width: 317px;
        flex: 0 0 317px;
    }

    .header__switcher {
        width: 100px;
        max-width: 260px;
        flex: 0 0 260px;
    }

    nav {
        width: 100%;
        max-width: calc(100% - 577px);
        flex: 0 0 calc(100% - 577px);

        &>ul {
            padding-left: 65px;

            &>li {
                margin-right: 40px;
                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                &>a {
                    font-size: 18px;
                    color: #A5A7A6;
                    line-height: 100%;
                    transition: 0.3s;
                    padding: 44px 0;
                    display: inline-block;
                    text-transform: uppercase;

                    &:hover {
                        color: #fff;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    height: 5px;
                    background: #FF754A;
                    border-radius: 5px 5px 0 0;
                    width: 0;
                    transition: 0.3s;
                    animation-timing-function: ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.header__btns {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        display: inline-flex;
        width: 100%;
        border-radius: 10px;
        min-height: 44px;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 0.3s;

        &:hover {
            color: #fff;
        }
    }
}

.enrolbtn {
    max-width: 148px;
    flex: 0 0 148px;
    background: transparent;
    border: 1px solid #343434;
    color: #fff;
    font-size: 16px;
}

.logbtn {
    max-width: 139px;
    flex: 0 0 139px;
    color: #fff;
    background: rgba(#343434, 0.5);
    border: 1px solid rgba(#343434, 0);
    font-size: 16px;
}

.megamenu {
    position: fixed;
    left: 0;
    top: 106px;
    width: 100%;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.5s;
    animation-timing-function: ease-in-out;
}

.header__rightsect nav>ul>li:hover {
    .megamenu {
        opacity: 1;
        z-index: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.megamenuwrap {
    background: rgba(#242424, 0.7);
    padding: 70px 105px;
    border-radius: 0 0 30px 30px;
    backdrop-filter: blur(111px);
}

.megamenu__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    img {
        width: 100%;
        max-width: 80px;
        flex: 0 0 80px;
    }

    p {
        width: 100%;
        max-width: calc(100% - 80px);
        flex: 0 0 calc(100% - 80px);
        padding-left: 15px;
        text-align: left;
        margin: 0;
        font-weight: 500;
        color: #fff;
        transition: 0.3s;
    }

    &:hover {
        p {
            color: #FF754A;
        }
    }
}

.header.change-bg {
    background: rgba(#242424, 0.99);

    .megamenuwrap {
        background: rgba(#242424, 0.99);
    }

    .header__switcher span.active {
        // color: rgb(96 96 96);
    }

    .header__rightsect nav>ul>li>a {
        padding: 35px 0;
    }

    .megamenu {
        top: 88px;
    }
}

.header__switcher {
    display: flex;
    align-items: center;

    span {
        color: rgba(#fff, 0.45);
        font-size: 16px;
        line-height: 100%;
        cursor: pointer;

        &.active {
            color: #fff;
            cursor: auto;
        }
    }
}

.switchel {
    display: inline-flex;
    margin: 0 8px;

    input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 36px;
        height: 20px;
        background: rgba(#3A3A3A, 0.5);
        display: block;
        border-radius: 100px;
        position: relative;
        box-shadow: 0 0 1px rgba(#000, 0.15);
    }

    label:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 18px;
        height: 18px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked+label {
        background: #FF754A;
    }

    input:checked+label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 22px;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.burger {
    display: none;
}

.header__btns a {
    &:hover {
        border: 1px solid #FF754A;
        background: #FF754A;
    }
}

.header__switcher span:not(.active) {
    transition: 0.3s;

    &:hover {
        color: rgba(255, 255, 255, 0.7);
    }
}

header.header.white {
    box-shadow: 0 4px 14px rgba(#000, 0.09);

    .header__rightsect nav>ul>li>a {
        color: #A3A3A3;
    }

    .header__switcher span {
        color: rgba(#343434, 0.45);
    }

    .header__switcher span.active {
        color: #304078;
    }

    .switchel label {
        background: #304078;
    }

    .header__rightsect .header__btns {
        .enrolbtn {
            background: #fff;
            border: 1px solid #304078;
            color: #304078;

            &:hover {
                color: #fff;
                background: #304078;
            }
        }

        .logbtn {
            background: rgba(#304078, 0.5);
            color: #304078;

            &:hover {
                border: 1px solid #304078;
                background: #304078;
                color: #fff;
            }
        }
    }

    &.change-bg {
        background: #fff;
    }

}


@media(max-width:1440.8px) {

    .header__rightsect .header__btns {
        max-width: 300px;
        flex: 0 0 300px;
    }

    .header__rightsect .header__switcher {
        max-width: 240px;
        flex: 0 0 240px;
    }

    .header__rightsect nav {
        width: 100%;
        max-width: calc(100% - 540px);
        flex: 0 0 calc(100% - 540px);
    }

    .header__rightsect nav>ul>li>a {
        font-size: 16px;
    }

    .header__rightsect nav>ul {
        padding-left: 40px;
    }

    .header.change-bg .megamenu {
        top: 84px;
    }

}

@media(max-width:1399.8px) {
    .header__rightsect nav>ul>li {
        margin-right: 20px;
    }

    .header__rightsect nav>ul {
        padding-left: 10px;
    }

    .megamenuwrap {
        padding: 50px;
    }

}

@media(max-width:1199.8px) {

    .adaptmenu {
        // display: none;
        position: fixed;
        right: 0;
        top: 0;
        width: 500px;
        height: 100vh;
        background: rgba(36, 36, 36, 0.99);
        transform: translateX(500px);
        transition: 0.5s;

        &.show {
            transform: translateX(0);
        }

        .header__rightsect {
            display: block;
            padding: 100px 15px 35px 15px;
        }

        .header__rightsect nav {
            max-width: 100%;

            ul {
                padding: 0;

                li {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                    margin-right: 0;

                    a {
                        padding: 0;
                        font-size: 18px;
                        color: #fff;
                    }
                }
            }

            .megamenu {
                opacity: 1;
                z-index: 1;
                visibility: visible;
                transform: translateY(0);
                position: relative;
                top: 0;

                .megamenuwrap {
                    padding: 15px 0 0 0;
                    background: transparent;
                    border-radius: 0;
                    backdrop-filter: none;
                }

                .megamenu__link {
                    margin-bottom: 15px;
                    font-size: 16px;

                    img {
                        // display: none;
                        max-width: 50px;
                        flex: 0 0 50px;
                    }

                    p {
                        color: rgba(#fff, 0.7);
                        max-width: calc(100% - 50px);
                        flex: 0 0 calc(100% - 50px);

                        br {
                            display: none;
                        }
                    }
                }

                .megamenu__link p {
                    // max-width: 100%;
                    // flex: 0 0 100%;
                }
            }
        }
    }

    .header.change-bg .header__rightsect nav>ul>li>a {
        padding: 0;
    }

    .header__switcher {
        margin-bottom: 30px;
    }

    .header {
        min-height: 80px;
        display: flex;
        align-items: center;

        .container {
            position: relative;
        }
    }

    button.burger {
        display: inline-block;
        position: absolute;
        right: 12px;
        top: 5px;
        padding: 0;

        width: 40px;
        height: 30px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 4px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #fff;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -2px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #fff;
                    width: 100%;
                    height: 4px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }

    .header__rightsect nav>ul>li:after {
        display: none !important;
    }

    .header__btns a {
        border: 1px solid #FF754A;

        &.logbtn {
            background: #FF754A;
        }
    }

    .adaptmenu {
        overflow: auto;
    }

    header.header.white {

        button.burger.burger2 span,
        button.burger.burger2:after,
        button.burger.burger2:before,
        button.burger.burger2 span:before {
            background: #304078;
        }

        .burger.burger2.on {
            span, &::after, &::before {
                background: #fff;
            }

            span:before {
                background: #fff;
            }
        }
    }

    header.header.white .header__rightsect .header__btns .logbtn {
        background:#fff;
        border-color: #304078;
    }


    header.header.white .header__switcher span {
        color: rgba(#fff, 0.5);
    }

    header.header.white .header__switcher span.active {
        color: #fff;
    }

    


}

@media(max-width:991.8px) {

    .header__logo img {
        max-width: 200px;
        width: 100%;
    }

    button.burger {
        top: 10px;
    }

}

@media(max-width:575.8px) {
    .header__logo img {
        max-width: 160px;
    }

    button.burger {
        top: 6px;
    }

    .adaptmenu {
        width: 100%;
    }

    .adaptmenu .header__rightsect nav ul li a {
        font-size: 16px;
    }

    .adaptmenu .header__rightsect {
        display: block;
        padding: 80px 0 10px 0;
    }

    .megamenu .container {
        padding: 0 0 0 15px;
    }

    .adaptmenu {
        transform: translateX(100%);
    }

}