.mainslider {
    z-index: initial;

    .swiper-slide {
        position: relative;
        height: 100vh;
        overflow: hidden;

        // &::after {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100vh;
        //     background: rgba(#000, 0.5);
        //     z-index: 2;
        // }

        img {
            height: 100vh;
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }


    }

    .swiper-pagination-bullet {
        background: #343434;
        width: 10px;
        height: 10px;
        opacity: 0.3;
        transition: 0.3s;

        &.swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    .swiper-pagination {
        left: initial;
        right: calc((100vw - 1440px) / 2);
        width: 20px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        bottom: initial;
        z-index: 2;

    }

}

.herosect {
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(#000, 0.5);
        z-index: 2;
    }

    .el1 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .el2 {
        position: absolute;
        left: 90px;
        bottom: 20px;
        z-index: 1;
    }
}

.herosect__descr {
    position: relative;
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;


    h1 {
        font-size: 103px;
        font-weight: 600;
        line-height: 115%;
        text-transform: uppercase;
        color: #fff;
        max-width: 580px;
        margin-bottom: 45px;

        .titlegroup {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .litttext {
            color: #FFBE31;
            font-size: 38px;
            font-weight: 500;
            text-transform: capitalize;
            display: inline-block;
            width: 100%;
            max-width: 217px;
            flex: 0 0 217px;
            line-height: 105%;
        }

        .maintext {
            width: 100%;
            max-width: calc(100% - 217px);
            flex: 0 0 calc(100% - 217px);
        }
    }

    .herosect__descrbtns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 580px;

        a {
            color: #fff;
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 10px;
            min-height: 63px;
            transition: 0.3s;
        }

        .fbtn {
            width: 100%;
            max-width: 331px;
            flex: 0 0 331px;
            background: #FF754A;
            border: 1px solid #FF754A;
        }

        .sbtn {
            width: 100%;
            max-width: 211px;
            flex: 0 0 211px;
            background: rgba(#FF754A, 0.5);
            border: 1px solid rgba(#FF754A, 0.5);
        }
    }

}

.qualification {
    padding: 170px 0 189px;

    .secttitle {
        margin-bottom: 60px;
    }

    .boxeswrap {
        display: flex;
        flex-wrap: wrap;
    }

    .infbox {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        display: flex;
        border-top: 1px solid rgba(#304078, 0.4);
        height: 189px;
        padding: 40px;
        align-items: center;

        &:nth-child(odd) {
            border-right: 1px solid rgba(#304078, 0.4);
        }

        img {
            width: 100%;
            max-width: 77px;
            flex: 0 0 77px;
        }

        p {
            width: 100%;
            max-width: calc(100% - 77px);
            flex: 0 0 calc(100% - 77px);
            padding-left: 28px;
            margin: 0;
            color: #fff;
            font-weight: 500;
            font-size: 22px;
            line-height: 100%;
        }
    }





}

.videosection {
    padding: 130px 0;

    .plyr__control.plyr__control--overlaid {
        background: transparent;
        width: 90px;
        height: 90px;
        border: 1px solid #fff;
        background: url('../img/main/play.png') no-repeat center / 100%;


        svg {
            display: none;
        }
    }
}

.plyr.plyr--stopped .plyr__controls {
    display: none
}

.learnabout {
    padding: 130px 0 93px;
}

.learnabout__topsect {
    margin-bottom: 170px;

    .descr {
        max-width: 475px;
        display: inline-block;
        text-align: left;

        p {
            color: #fff;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 50px;
        }
    }
}

.learnslidewrapper {
    border-top: 1px solid #fff;
    padding-top: 20px;

    .num {
        font-size: 20px;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        color: #fff;
        margin-bottom: 30px;

        span {
            font-weight: 400;
        }
    }

    .learnslide__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .leftbox {
            width: 100%;
            max-width: calc(100% - 318px);
            flex: 0 0 calc(100% - 318px);
            padding-right: 50px;

            p {
                color: rgba(#fff, 0.6);
                font-size: 17px;
                line-height: 140%;
                margin: 0;
            }

            .title {
                margin-bottom: 35px;
                text-transform: uppercase;
                font-size: 30px;
                font-weight: 500;
                line-height: 115%;
                color: #fff;
            }
        }

        .rightbox {
            width: 100%;
            max-width: 318px;
            flex: 0 0 318px;

            img {
                width: 100%;
            }
        }
    }
}

.learnslider {
    padding-bottom: 100px;

    .swiper-slide {
        opacity: 0.3;
        transition: 0.3s;

        &.swiper-slide-active {
            opacity: 1;
        }
    }

    .swiper-pagination {
        bottom: 0;

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #343434;
            opacity: 0.3;
            transition: 0.3s;
            margin: 0 6px;

            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}

.graduates {
    padding: 130px 0 160px;
    padding-left: calc((100vw - 1440px) / 2);
    overflow: hidden;
}

.graduates-slider {
    padding-top: 100px;
    overflow: initial;
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
        top: -43px;
        border-radius: 17px;
        background: #343434;
        width: 57px;
        height: 57px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        right: calc((100vw - 1440px) / 2);
        background-image: url('../img/slider-right.svg');
    }

    .swiper-button-prev {
        left: initial;
        right: calc(((100vw - 1440px) / 2) + 70px);
        background-image: url('../img/slider-left.svg');
    }
}

.graduateslide {
    padding: 33px;
    border-radius: 22px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    .ava {
        width: 100%;
        max-width: 264px;
        flex: 0 0 264px;

        img {
            width: 100%;
            border-radius: 35px;
        }
    }

    .descr {
        width: 100%;
        max-width: calc(100% - 264px);
        flex: 0 0 calc(100% - 264px);
        padding-left: 33px;
        position: relative;

        .name {
            color: #304078;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 600;
            line-height: 115%;
        }

        ul {
            margin: 0 0 33px 0;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px;
                font-size: 18px;
                color: #304078;
                opacity: 0.6;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        p {
            font-weight: 500;
            font-size: 21px;
            line-height: 140%;
            color: #304078;
            margin: 0;
        }

        .qimg {
            position: absolute;
            top: 0;
            right: -10px;
        }
    }
}

.calendarsect {
    padding: 140px 0 130px;

    .secttitle {
        margin-bottom: 50px;
    }

    p {
        font-size: 18px;
        color: #fff;
        max-width: 382px;
    }
}

.imgsect {
    height: 390px;
    position: relative;
    display: flex;
    align-items: center;

    &>img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .container {
        position: relative;
        z-index: 2;
    }




}

.mainslider .swiper-slide img {
    min-height: 500px;
}


@media(max-width:1599.8px) {
    .herosect__descr h1 {
        font-size: 80px;
    }

    .herosect__descr h1 .litttext {
        font-size: 32px;
        max-width: 200px;
        flex: 0 0 200px;
    }

    .herosect__descr .herosect__descrbtns a {
        min-height: 52px;
    }

    .herosect__descr .herosect__descrbtns .fbtn {
        max-width: 300px;
        flex: 0 0 300px;
    }

    .herosect__descr .herosect__descrbtns .sbtn {
        max-width: 200px;
        flex: 0 0 200px;
    }

    .herosect__descr .herosect__descrbtns {
        max-width: 540px;
    }

}

@media(max-width:1499.8px) {

    .graduates {
        padding-left: calc((100vw - 1320px) / 2);
    }

    .graduates-slider .swiper-button-next {
        right: calc((100vw - 1320px) / 2);
    }

    .graduates-slider .swiper-button-prev {
        right: calc((100vw - 1320px) / 2 + 70px);
    }

}

@media(max-width:1399.8px) {

    .graduates {
        padding-left: calc((100vw - 1140px) / 2);
    }

    .graduates-slider .swiper-button-next {
        right: calc((100vw - 1140px) / 2);
    }

    .graduates-slider .swiper-button-prev {
        right: calc((100vw - 1140px) / 2 + 70px);
    }

    .qualification .infbox p {
        font-size: 20px;
        flex: 0 0 calc(100% - 60px);
        max-width: calc(100% - 60px);
    }

    .qualification .infbox img {
        max-width: 60px;
        flex: 0 0 60px;
    }

    .qualification .infbox {
        padding: 20px;
        height: 160px;
    }

    .learnabout__topsect .descr p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .learnabout__topsect {
        margin-bottom: 120px;
    }

    .learnslidewrapper .learnslide__content .rightbox {
        max-width: 230px;
        flex: 0 0 230px;
    }

    .learnslidewrapper .learnslide__content .leftbox {
        max-width: calc(100% - 230px);
        flex: 0 0 calc(100% - 230px);
    }

    .learnslidewrapper .learnslide__content .leftbox .title {
        font-size: 24px;
    }

    .learnslidewrapper .learnslide__content .leftbox p {
        font-size: 16px;
    }

    .learnslidewrapper .num {
        margin-bottom: 20px;
    }

    .learnslider {
        padding-bottom: 80px;
    }

    .graduates {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .graduates-slider .swiper-button-next,
    .graduates-slider .swiper-button-prev {
        top: -37px;
    }

    .graduates-slider {
        padding-top: 70px;
    }

    .graduateslide .descr p {
        font-size: 18px;
    }

    .calendarsect p {
        font-size: 16px;
    }

    .imgsect {
        height: 320px;
    }







    .learnabout {
        padding: 100px 0 80px;
    }

    .videosection,
    .calendarsect {
        padding: 100px 0;
    }

    .qualification {
        padding: 120px 0;
    }


}

@media(max-width:1199.8px) {

    .graduates {
        padding-left: calc((100vw - 960px) / 2);
    }

    .graduates-slider .swiper-button-next {
        right: calc((100vw - 960px) / 2);
    }

    .graduates-slider .swiper-button-prev {
        right: calc((100vw - 960px) / 2 + 70px);
    }


    .herosect__descr h1 {
        font-size: 66px;
    }

    .herosect__descr h1 .litttext {
        font-size: 28px;
        line-height: 100%;
        padding-left: 30px;
    }

}

@media(max-width:991.8px) {
    .herosect__descr h1 {
        font-size: 70px;
    }

    .boxeswrap {
        margin-top: 40px;
    }

    .learnabout__topsect .descr {
        max-width: 100%;
        text-align: left;
    }

    .learnabout .secttitle {
        margin-bottom: 40px;
    }

    .learnabout__topsect {
        margin-bottom: 70px;
    }

    .graduates {
        padding-left: calc((100vw - 720px) / 2);
    }

    .graduates-slider .swiper-button-next {
        right: calc((100vw - 720px) / 2);
    }

    .graduates-slider .swiper-button-prev {
        right: calc((100vw - 720px) / 2 + 70px);
    }

    .graduateslide {
        padding: 20px;
    }

    .graduateslide .ava img {
        border-radius: 15px;
    }

    .graduateslide .ava {
        max-width: 200px;
        flex: 0 0 200px;
    }

    .graduateslide .descr {
        max-width: calc(100% - 200px);
        flex: 0 0 calc(100% - 200px);
    }

    .graduateslide .descr .qimg {
        width: 30px;
    }

    .graduateslide .descr .name {
        font-size: 26px;
    }

    .graduateslide .descr ul {
        margin-bottom: 20px;

        li {
            font-size: 15px;
        }
    }

    .graduateslide .descr p {
        font-weight: 400;
        font-size: 16px;
    }

    .calendarsect .secttitle {
        margin-bottom: 30px;
    }

    .graduates-slider {
        padding-top: 50px;
    }

    .imgsect {
        height: 260px;
    }



    .learnabout__topsect .descr p {
        font-size: 18px;
    }

    .qualification .secttitle {
        margin-bottom: 40px;
    }

    .qualification {
        padding: 100px 0;
    }

}

