.titlesection {
    padding: 100px 0;
    position: relative;

    h1 {
        font-family: "Prompt", sans-serif;
        color: #304078;
        font-size: 90px;
        line-height: 90%;
        margin: 0;

        span {
            color: #FFBE31;
            font-size: 40px;
            font-weight: 500;
            line-height: 105%;
        }
    }

    .bgel {
        position: absolute;
        right: 0;
        bottom: 0;
    }


    .descr {
        padding-left: 50px;

        p {
            font-size: 18px;
            font-weight: 300;
            color: #6A6A6A;
        }
    }

}

.courseslist {
    background: #304078;
    padding: 100px 0;
    position: relative;

    .el1 {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .el2 {
        position: absolute;
        right: 0;
        bottom: 35%;
    }
}

.coursesrow {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(#fff, 0.2);
    padding-top: 40px;
    padding-bottom: 70px;

    &:hover {
        .coursesrow__arrow img {
            transform: translateX(10px);
            filter: drop-shadow(0 0 10px #FF754A);
        }

        .coursesrow__title .title,
        .count {
            color: #FF754A;
        }
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.coursesrow__img {
    width: 100%;
    max-width: 230px;
    flex: 0 0 230px;

    img {
        width: 100%;
        border-radius: 50%;
    }
}

.coursesrow__title {
    width: 100%;
    max-width: 42%;
    flex: 0 0 42%;
    padding-left: 137px;
    padding-right: 50px;

    .count {
        font-size: 20px;
        color: rgba(#fff, 0.5);
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        margin-bottom: 20px;
        transition: 0.3s;
    }

    .title {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        line-height: 115%;
        margin: 0;
        text-transform: uppercase;
        transition: 0.3s;
    }
}

.coursesrow__descr {
    width: 100%;
    max-width: calc(58% - 284px);
    flex: 0 0 calc(58% - 284px);
    padding-right: 130px;
    padding-top: 50px;

    p {
        margin: 0;
        font-size: 17px;
        line-height: 140%;
        color: rgba(#fff, 0.6);
    }
}

.coursesrow__arrow {
    width: 100%;
    max-width: 54px;
    flex: 0 0 54px;
    padding-top: 50px;

    img {
        max-width: 100%;
        transition: 0.3s;
    }
}

.qsect {
    padding: 100px 0;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(#000, 0.4);
    }
}

.qsect__row {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    .qsect__btns {
        a {
            &:nth-child(1) {
                margin-bottom: 27px;
            }
        }
    }
}

.qsect__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}







// ------------------

.qsect__descr {
    width: 100%;
    max-width: calc(100% - 335px);
    flex: 0 0 calc(100% - 335px);

    h3 {
        margin-bottom: 40px;
    }

    p {
        max-width: 416px;
        color: rgba(#fff, 0.6);
        font-size: 17px;
        line-height: 140%;
        margin: 0;
    }
}

.qsect__btns {
    width: 100%;
    max-width: 335px;
    flex: 0 0 335px;
    text-align: right;
}

.sheduleblock {
    padding: 90px 0;
    background: #FF754A;
    text-align: center;
    position: relative;

    .secttitle {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 50px;
        color: rgba(#fff, 0.85);
        line-height: 140%;
        font-size: 20px;
    }

    .el1 {
        position: absolute;
        left: 0;
        top: 0;
    }

    .el2 {
        position: absolute;
        top: 0;
        right: 36px;
    }

    .el3 {
        position: absolute;
        bottom: 0;
        left: 36px;
    }

    .el4 {
        position: absolute;
        bottom: 0;
        right: 0;
    }



}

@media(max-width:1599.8px) {

    .titlesection h1 {
        font-size: 70px;

        span {
            font-size: 36px;
        }
    }

    .titlesection .descr {
        padding-left: 0;
    }

    .coursesrow__title {
        padding-left: 100px;
    }

    .coursesrow__descr {
        padding-right: 100px;
    }

    .sheduleblock p {
        margin-bottom: 30px;
    }

    .sheduleblock {
        padding: 70px 0;
    }


    .coursesrow__title .title {
        font-size: 28px;
    }



}

@media(max-width:1399.8px) {

    .titlesection .descr p {
        font-size: 16px;
        margin: 0;
    }

    .coursesrow__img {
        max-width: 200px;
        flex: 0 0 200px;
    }

    .coursesrow__title {
        max-width: 38%;
        flex: 0 0 38%;
        padding-left: 60px;
        padding-right: 20px;
    }

    .coursesrow__descr {
        max-width: calc(62% - 254px);
        flex: 0 0 calc(62% - 254px);
    }

    .coursesrow__title .title {
        font-size: 26px;
    }

    .qsect__descr h3 {
        margin-bottom: 20px;
    }









}

@media(max-width:1199.8px) {

    .coursesrow__title .title br {
        display: none;
    }

    .coursesrow__title .title {
        font-size: 23px;
    }

    .qsect {
        padding: 80px 0;
    }

}

@media(max-width:991.8px) {
    .titlesection h1 {
        margin-bottom: 30px;
    }

    .titlesection .bgel {
        max-width: 100px;
    }

    .coursesrow {
        flex-wrap: wrap;
    }

    .coursesrow__title,
    .coursesrow__descr,
    .coursesrow__arrow,
    .coursesrow__img {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;
    }

    .coursesrow__img {
        margin-bottom: 10px;
        
        img {
            max-width: 160px;
        }
    }

    .coursesrow__title .title {
        margin-bottom: 20px;
    }

    .coursesrow__descr {
        margin-bottom: 20px;
    }

    .coursesrow__arrow img {
        max-width: 45px;
    }

    .coursesrow__arrow {
        text-align: right;
    }

    .coursesrow {
        padding: 30px 0;
    }

    .qsect__descr h3 br {
        display: none;
    }

    .qsect__btns {
        max-width: 260px;
        flex: 0 0 260px;
    }

    .qsect__descr {
        max-width: calc(100% - 260px);
        flex: 0 0 calc(100% - 260px);
        padding-right: 30px;
    }

    .sheduleblock .el2 {
        max-width: 100px;
        right: 10px;
    }

    .sheduleblock .el3 {
        left: 10px;
        max-width: 100px;
    }

    .sheduleblock p {
        font-size: 18px;
    }


}

@media(max-width:767.8px) {
    .titlesection h1 {
        font-size: 55px;

        span {
            font-size: 34px;
        }
    }

    .titlesection {
        padding: 60px 0;
    }

    .titlesection .bgel {
        max-width: 70px;
    }

    .courseslist {
        padding: 60px 0;
    }

    .qsect__row {
        flex-wrap: wrap;
    }

    .qsect__descr {
        padding: 0;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .qsect__descr h3 {
        margin-bottom: 10px;
    }

    .sheduleblock .container {
        position: relative;
        z-index: 2;
    }

    .sheduleblock .el2,
    .sheduleblock .el3,
    .sheduleblock .el1,
    .sheduleblock .el4 {
        max-width: 70px;
    }



}

@media(max-width:575.8px)  {
    .titlesection h1 {
        font-size: 45px;
        margin-bottom: 15px;

        span {
            font-size: 31px;
        }
    }

    .coursesrow__img img {
        max-width: 100px;
    }

    .coursesrow__title .count {
        font-size: 16px;
    }

    .coursesrow__descr p {
        font-size: 16px;
    }

    .coursesrow__title .title {
        margin-bottom: 10px;
    }

    .coursesrow__arrow img {
        transform: translateX(0) !important;
        max-width: 35px;
    }

    .coursesrow__descr {
        margin-bottom: 10px;
    }

    .coursesrow {
        padding: 20px 0;
        position: relative;
        z-index: 2;
    }

    .courseslist .el1 {
        max-width: 60px;
    }

    .qsect {
        padding: 60px 0;
    }

    .qsect__btns {
        max-width: 100%;
        flex: 0 0 100%;

        a {
            max-width: 100%;
        }
    }

    .qsect__row .qsect__btns a:first-child {
        margin-bottom: 20px;
    }

    .sheduleblock .el1, .sheduleblock .el2, .sheduleblock .el3, .sheduleblock .el4 {
        max-width: 50px;
    }



    .qsect__descr p,
    .sheduleblock p {
        font-size: 16px;
    }
}