.sertificate__herosect.why {
    .subtitle {
        font-size: 25px;
        color: #fff;
        line-height: 110%;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    h1 {
        font-weight: 400;
        margin-bottom: 50px;
    }

    .redbtn {
        max-width: 268px;
        font-family: "Inter Tight", sans-serif;
    }
}

.sertgetstarted.why {
    .getstartedicbox {
        padding-bottom: 65px;
    }
}

.learnsupp {
    background: #304078;
    padding: 100px 0 32px;

    .secttitle {
        margin-bottom: 40px;
    }

    .learnsupp__leftsect {
        p {
            font-size: 17px;
            font-weight: 300;
            margin-bottom: 50px;
            color: #fff;
            max-width: 475px;
        }

        .redbtn {
            max-width: 268px;
            font-family: "Inter Tight", sans-serif;
        }
    }


}

.learnsupp__lists {
    .listblock {
        margin-bottom: 100px;

        p {
            padding-left: 83px;
            color: #fff;
            font-weight: 300;
            font-size: 18px;
        }

        .title {
            position: relative;
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: 500;
            color: #F05C61;
            line-height: 115%;

            img {
                position: absolute;
                left: 0;
                width: 58px;
                top: 0;
            }
        }
    }
}

.absuct {
    padding: 130px 0 85px;
    background: rgba(48, 64, 120, 1);

    .imgwrapper {
        img {
            max-width: 642px;
            width: 100%;
        }
    }

    .title {
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        line-height: 115%;
        margin-bottom: 40px;
    }

    .descr {
        p {
            font-size: 17px;
            color: #fff;
            font-weight: 300;
            line-height: 140%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media(max-width:1599.8px) {

    .sertgetstarted.why .getstartedicbox {
        padding-bottom: 50px;
    }

    .learnsupp__lists .listblock {
        margin-bottom: 80px;
    }

    .learnsupp__lists .listblock p {
        font-size: 17px;
    }

    .absuct .descr p {
        font-size: 16px;
    }

}

@media(max-width:1399.8px) {

    .learnsupp__lists .listblock .title img {
        width: 50px;
    }

    .learnsupp__lists .listblock p {
        padding-left: 65px;
    }

    .learnsupp__lists .listblock .title {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .learnsupp__lists .listblock p {
        font-size: 16px;
    }

    .absuct {
        .row.align-items-center {
            align-items: flex-start !important;
        }
    }

    .absuct .title {
        font-size: 24px;
        margin-bottom: 20px;
    }

}

@media(max-width:991.8px) {
    .learnsupp .learnsupp__leftsect p {
        max-width: 100%;
    }

    .learnsupp {
        padding: 100px 0;
    }

    .absuct {
        padding: 100px 0;
    }

    .absuct .imgwrapper {
        margin-bottom: 50px;

        img {
            max-width: 100%;
        }
    }
}

@media(max-width:767.8px) {
    .sertificate__herosect.why h1 {
        margin-bottom: 30px;
    }

    .sertgetstarted.why .getstartedicbox {
        padding-bottom: 15px;
    }

    .learnsupp__lists .listblock {
        margin-bottom: 40px;
    }


    .learnsupp {
        padding: 60px 0;
    }

    .absuct {
        padding: 60px 0;
    }

    .absuct .title {
        font-size: 21px;
        line-height: 140%;
    }

    .absuct .imgwrapper {
        margin-bottom: 30px;
    }
}

@media(max-width:575.8px) {
    .sertificate__herosect.why .subtitle {
        font-size: 16px;
    }

    .sertificate__herosect.why h1 {
        font-size: 50px;
    }

    .learnsupp .secttitle {
        margin-bottom: 20px;
    }

    .learnsupp__lists .listblock .title {
        font-size: 20px;
    }


    .learnsupp .learnsupp__leftsect p {
        font-size: 16px;
    }

    .learnsupp__lists .redbtn.mob,
    .redbtn.mob {
        max-width: 100%;
    }
}